/*fonts*/
@font-face {
  font-family: Roboto-Bold;
  src: url(fonts/roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-Black;
  src: url(fonts/roboto/Roboto-Black.ttf);
}

@font-face {
  font-family: Roboto-Medium;
  src: url(fonts/roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Light;
  src: url(fonts/roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto-Thin;
  src: url(fonts/roboto/Roboto-Thin.ttf);
}


/*general*/
html, body {
  height: 100%;
  font-size: 14px;
  font-family: Roboto;
}

body {
  background: #1b8ac7;
  position: relative;
}

.no-display {
  display: none;
}

#icon {
  height: 40px;
  margin-top: 5px;
  padding-left: 1.25em;
}

/*container*/
body > .container {
  top: 50%;
  left: 15%;
  height: 70%;
  max-width: 70%;
  background: #fff;
  overflow: scroll;
  position: absolute;
  border-radius: 10px;
  transform: translateY(-50%);
}

@media (max-width: 500px) {
  body > .container {
    height: 80%;
    width: 80%;
  }
}

h1 {
  color: #6C6C6C;
}

h1 small {
  font-family: Roboto-Light;
}

h1 small:after {
  top: -7px;
  content: '\00ae';
  font-size: .75em;
  position: relative;
}

/*form*/
.form-control {
  border-radius: 0px;
  box-shadow: none !important;
  &:focus {
    border-color: #1b8ac7;
  }
}

.form-group {
  position: relative;
  margin-bottom: 35px;
}

input[type="password"] {
  z-index: 1;
  height: 45px;
  line-height: 45px;
  position: relative;
  background-color: transparent;
}

input[type="password"] + label {
  top: 11px;
  left: 27px;
  position: absolute;
  transition: top 0.3s 0.3s, left 0.3s;
}

input[type="password"].filled + label,
input[type="password"]:active + label,
input[type="password"]:focus + label {
  top: -22px;
  left: 15px;
  transition: top 0.3s, left 0.3s 0.3s;
}

input[type=file]:focus, input[type=checkbox]:focus, input[type=radio]:focus {
  outline: 0px !important;
}

/*table*/
.table {
  table-layout: fixed;
}

.table th:nth-child(1) {
  width: 5%;
}
.table th:nth-child(2) {
  width: 20%;
}
.table th:nth-child(3) {
  width: 35%;
}
.table th:nth-child(4) {
  width: 40%;
}

.table > tbody > tr > td {
  word-wrap: break-word;
}

/*json*/
#wallet-info pre p {
  margin-bottom: 0px;
}

#copy-to-clip {
  float: right;
}
